{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Filmy</title>
        <meta charset="UTF-8">
        <meta name="description" content="The best place to be for regional movie reviews by critics &amp; movie lovers alike">
        <meta name="keywords" content="regional movie reviews, movie reviews, film reviews">

        {% include 'reviews/static.html' %}


    </head>
    <body>
        {% include 'reviews/header.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}




        {% block check %}
        <div class="content container ">
            <div class="row">
                {% block leftpane %}
                {% endblock %}
                {% block content %}
                {% endblock %}
                {% block rightpane %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}

        {%include 'reviews/footer.html'%}




        <div id="fb-root"></div>
        <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-78972157-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
