{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Filmy</title>
        <meta charset="UTF-8">
        <meta name="description" content="The best place to be for regional movie reviews by critics &amp; movie lovers alike">
        <meta name="keywords" content="regional movie reviews, movie reviews, film reviews">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include 'reviews/static.html' %}


    </head>
    <body>
        {% include 'reviews/header.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}




        {% block check %}
        <div class="content container ">
            <div class="row">
                {% block leftpane %}
                {% endblock %}
                {% block content %}
                {% endblock %}
                {% block rightpane %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}

        {%include 'reviews/comments.html'%}

        {%include 'reviews/footer.html'%}

    </body>
</html>
