{% load staticfiles %}
<div class="footer">
    <div class="row no_margin no_padding">
        <div class='w100'style="text-align:center;"> No pixels were harmed during the production of this website. </div>
        <div class='pull-left'>Copyright © 2016 Filmistan.in. All rights reserved.</div>
        <div class='pull-right'>
            Handcrafted with <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:#E21E47;"></span>
            by Filmistan
        </div>
    </div>
</div>
