{% extends 'reviews/base.html' %}

{% block content %}
    <div class="post">
        {% if review.published_date %}
            <div class="date">
                {{ review.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'review_edit' pk=review.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ review.title }}</h1>
        <p class="subtitle">{{ review.subtitle }}</p>
        <p> {{ review.desc|linebreaks }}</p>
    </div>
    <div class="fb-comments" data-href="{% url 'review_detail' pk=review.pk %}" data-numposts="5"></div>
{% endblock %}
