{% extends 'reviews/base.html' %}

{% block leftpane%}
    <div class="col-lg-3">
        {% for movie in movies_list %}
            {{ movie.name }}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-6">

    {% for review in reviews %}
        <div class="post">
            <div class="date">
                {{ review.published_date }}
            </div>
            <h1><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></h1>
            {% if review.cover_image %}
                <img src='{{ review.cover_image.url }}' class='img-responsive' />
            {% endif %}
            <p class="f16">
                {% autoescape off %}
                    {{ review.desc|truncatechars:300 }}
                {% endautoescape %}
            </p>
        </div>
        <div style="clear:both;"> </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if reviews.has_previous %}
                <a href="?{% if request.GET.q %}q={{request.GET.q}}&{% endif %}{{ page_request_var }}={{ reviews.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
            </span>

            {% if reviews.has_next %}
                <a href="?{% if request.GET.q %}q={{request.GET.q}}&{% endif %}{{ page_request_var }}={{ reviews.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    </div>

{% endblock %}

{% block rightpane %}
<div class="col-md-3">
    <div class="f16"> <strong> Recent reviews </strong></div>
    {% for review in reviews %}
        <div class="f14 mBtm_10">
            <a href="{{ review.get_absolute_url }}">{{ review.title }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
