{% extends 'reviews/base.html' %}
{% block content %}
    {% for review in reviews %}
        <div class="post">
            <div class="date">
                {{ review.published_date }}
            </div>
            <h1><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></h1>

            <p class="f16">
                {% autoescape off %}
                    {{ review.desc|truncatechars:300 }}
                {% endautoescape %}
            </p>
        </div>
    {% endfor %}
{% endblock %}

{% block rightpane %}
    <div class="f16"> <strong> Recent reviews </strong></div>
    {% for review in reviews %}
        <div class="f14 mBtm_10">
            <a href="{{ review.get_absolute_url }}">{{ review.title }}</a>
        </div>
    {% endfor %}
{% endblock %}
