{% extends 'reviews/base.html' %}
{% load staticfiles %}


{% block content %}
        {% for movie in movies_list %}
            <div class="mAll_10" style="display:inline-block;">
                <div class="pull-left">
                    <a href = '{{ movie.get_absolute_url }}' class="f18">
                        {% if movie.cover_image %}
                            <img src="{{ movie.cover_image.url }}" class="movie_poster center-block" />
                        {% else %}
                            <img src="{% static 'img/no_poster.jpg' %}" class="movie_poster center-block" />
                        {% endif %}
                        <div class="f16 center_text item_bg padTop_10 padBtm_10">{{ movie.name }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
