body {
    font-family: 'Josefin Sans', sans-serif;
    color: #2B2D42;
    padding-top: 95px;
    background-color:#FBF5F3;
}

@media (max-width: 991px){
    body{
        padding-top:70px;
    }
}

.msg{
    color: #FCA205;
    font-size:18px;
}

.page-header {
    padding: 20px 20px 10px 40px;
}

.page-header a, .page-header a:hover, .page-header a:visited{
    color:#a40606;
}

.topnav{
    background-color: #FFFFFF;
    height:80px;
}

@media (max-width: 991px){
    .topnav{
        height:50px;
    }
}

.topnav-links{
    color:#a40606 !important;
    opacity:0.6;
    padding:35px 15px 25px 15px!important;
}

.topnav-links:hover{
    opacity:1;
}

.topnav-border{
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border-bottom: 1px solid rgba(0,0,0,.09);
}

.logo{
    float:left;
    height:60px;
    padding:0 20px;
}

@media (max-width: 991px){
    .logo{
        height:40px;
    }
}

.brand{
    padding:5px;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    float: right;
    font-size: 40px;
    margin:20px;
}

.search {
    width: auto;
}

.footer{
    padding:20px 40px;
    background-color:#2B2D42;
    color:#DDD1C7;
}

.post, .post p{
    font-size:21px;
}

.card{
    background-color:#FFFFFF;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    margin:10px;
    padding:10px;
    border-radius: 3px;
}

.card a, .card a:hover, .card a:visited{
    color:#2B2D42;
    text-decoration:none;
}

.center_text{
    text-align:center;
    word-break: break-all;
    box-sizing: border-box
}

@media (max-width: 991px) {
    .movie_poster{
        height:200px;
        width:auto;
    }
}
@media (min-width: 992px){
    .movie_poster{
        height:400px;
        width:auto;
    }
}


.bgwhite{
    background-color:#FFFFFF;
}

.w100{
    width:100%;
}

.no_margin{
    margin:0;
}

.no_padding{
    padding:0;
}

.no_border{
    border:0;
}


.f14{
    font-size:14px;
}

.f16{
    font-size:16px;
}

.f18{
    font-size:18px;
}

.f20{
    font-size:20px;
}

.f24{
    font-size:24px;
    font-weight:300;
}

.f36{
    font-size:36px;
}




.mAll_10{
    margin:10px;
}

.mTop_10{
    margin-top:10px;
}

.mBtm_10{
    margin-bottom:10px;
}



.padAll_10{
    padding:10px;
}

.padTop_10{
    padding-top:10px;
}

.padBtm_10{
    padding-bottom:10px;
}




.border_1{
    border-width:1px;
    border-radius:5px;
    border-color:#343434;
    border-style:solid;
}


.item_bg{
    background-color:#DDD1C7;
}
